<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <title>Restaurant Menu</title>
</head>

<body>
    <div class="row gap-2 px-3 py-3">
        <h1>餐廳管理功能</h1>

        <div>
            <a th:href="@{/restaurants}" class="btn btn-success">
                餐廳資料管理
            </a>

            <a th:href="@{/restaurant-times}" class="btn btn-success">
                餐廳時段管理
            </a>

            <a th:href="@{/reservation-manage}" class="btn btn-success">
                餐廳訂位管理
            </a>

            <a th:href="@{/}" class="btn btn-secondary">
                回首頁
            </a>
        </div>
    </div>
</body>

</html>